$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Importa Fonte Oficial
@font-face {
  font-family: 'Smoolthan';
  src: url('fonts/Smoolthan-Regular.otf') format("truetype");
}

body {
  font-family: 'Smoolthan';
  background: #F8F8F8;
}

.navbar-oficial {
  background-color: #421C52;
  margin-bottom: 50px;
}

#logo {
  width: 100px;
  margin: 18px 0;
}

footer {
  color: #DEDEDE;
  margin-top: 50px;
  background-color: #421C52;

  .container {
    padding: 25px 15px;
  }
}

.main {
  margin-top: 8%;
  margin-bottom: 8%;
}

.login {
  margin-top: 8%;
  margin-bottom: 8%;

  .box {
    background-color: #E7E7E7;
    border: 2px solid #E3E3E3;
    padding: 30px;
    padding-bottom: 35px;
  }

  .remove-bottom-space {
    margin-bottom: 2px;
  }
}

.cadastro {
  margin-top: 8%;
  margin-bottom: 8%;

  .box {
    background-color: #E7E7E7;
    border: 2px solid #E3E3E3;
    padding: 30px;
    padding-bottom: 35px;
  }

  .remove-bottom-space {
    margin-bottom: 2px;
  }
}

.novaConta {
  margin-top: 12%;
  margin-bottom: 12%;

  .box {
    background-color: #E7E7E7;
    border: 2px solid #E3E3E3;
    padding: 30px;
    padding-bottom: 35px;
  }

  .options {
    margin-bottom: 10px;
  }

  form {
    margin-top: 35px;
  }

  .form-group {
    text-align: left;

    span {
      padding-left: 3px;
    }
  }

  .especial {
    margin-top: 20px;
    display: inline-flex;

    span {
      margin-top: 5px;
      margin-left: -20px;
      margin-right: 10px;
    }
  }
}