$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Importa Fonte Oficial
@font-face {
  font-family: 'Smoolthan';
  src: url('fonts/Smoolthan-Regular.otf') format("truetype");
}

body {
  font-family: 'Smoolthan';
  background: #F8F8F8;
}

.navbar-oficial {
  background-color: #421C52;
  margin-bottom: 50px;
}

#logo {
  width: 100px;
  margin: 18px 0;
}

footer {
  color: #DEDEDE;
  margin-top: 50px;
  background-color: #421C52;

  .container {
    padding: 25px 15px;
  }
}

.login {
  margin-top: 13%;
  margin-bottom: 13%;

  .box {
    background-color: #E7E7E7;
    border: 2px solid #E3E3E3;
    padding: 30px;
    padding-bottom: 35px;
  }

  .remove-bottom-space {
    margin-bottom: 2px;
  }
}